section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--fondo_blanco);
    align-items: center;
}
h1{
    margin-left: var(--margenes);
    margin-top: var(--margenes);
    font-size: var(--titulo_Grandaso);
    font-family: var(--letra_TituloGrande);
    border-bottom: 2px solid var(--color_rojo);
    width: 30%;
    grid-column: 1 / -1;
    padding: 0.5rem;
}

/* contenedor contactos */

.cotenedor_LocalesINFO {
    width: 80%;
    height: auto;
    margin: var(--margin-left);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_nosotrosbanner{
    margin: var(--margenes);
    width: auto;
    height: auto;
   
}

/* formulario */

.formulario_contactos{
    width: 50%;
    margin: auto;
    padding: var(--padding_footer);
    background-color: var(--color_vino); 
    border-radius: var(--bordes_grandes);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: var(--color_blanco); 
}

.formulario_contactos label {
    font-weight: var(--letra_negrita);
    color: var(--color_blanco);
    display: block;
    margin-bottom: var(--bordes);
}

.formulario_contactos input {
    width: 100%;
    padding: var(--padding-nav);
    border: 2px solid var(--color_vino); 
    border-radius: var(--bordes);
    outline: none;
    transition: all 0.3s ease-in-out;
}

.formulario_contactos input:focus {
    border-color:  var(--color_blanco);
}

.btn_enviar {
    width: 100%;
    padding: var(--margin-ul);
    background-color: var(--color_oscuro_trasparente);
    color: var(--color_blanco);
    border: none;
    border-radius: var(--bordes);
    font-size: var(--tamañoLetra_footer);
    font-weight: var(--letra_negrita);
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn_enviar:hover {
    background-color:var(--color_rojo);
}


/* Responsive */

@media (max-width: 768px) {

    .formulario_contactos{
        width: 100%;
    }
    .cotenedor_menusINFO {
        width: 90%;
        height: auto;
        margin: var(--margin_02);
    }

    .contenedor_textopMENU {
        width: 100%;
        height: auto;
    }

    span {
        width: 100%;
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        font-size: var(--texto_mediogrande);
        font-family: var(--tipo_letra);
    }
    
    .padre_imgMENU {
        width: 100%;
        height: auto;
    }


    .informacion_menupromo {
        font-size: var(--tamañoLetra_footer);
        margin: var(--margin-ul);
        font-family: var(--tipo_letra);
    }

    h1 {
        width: 80%;
    }
    #img_contactos{
        width: 100%;
    }
}
